:root {
  font-size: 16px;
  font-family: "Open Sans";
  --transition-speed: 700ms;
}

body {
  margin: 0;
  padding: 0;
}

.bg-steel {
  background-color: #428560;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}
/* small screens  */
@media only screen and (max-width: 800px) {
  .live-img {
    width: 90vw;
  }
  .logo {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: rotateY(0deg);
  }
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    background-color: #428560;
    transition: width 500ms ease;
  }

  .nav-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .navbar:hover {
    width: 100vw;
  }

  .navbar-nav {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
  }

  body {
    margin: 0;
    height: 0;
  }
  main {
    margin: 0;
  }

  .nav-link {
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }

  .nav-link i {
    flex-grow: 1;
    height: fit-content;
    width: fit-content;
    min-width: 0.1rem;
  }

  .link-text {
    display: none;
    margin-left: 1rem;
    color: azure;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .dot {
    height: 20px;
    width: 20px;
    background-color: rgb(34, 214, 49);
    border: 1px solid rgb(19, 48, 19);
    border-radius: 50%;
    display: inline-block;
  }

  .alive-check {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #6edda0;
  }

  .link-text {
    display: none;
    margin-left: 1rem;
    color: azure;
  }

  .fas {
    color: rgb(209, 252, 252);
  }

  .fas:hover {
    color: rgb(255, 255, 255);
  }

  .far {
    color: rgb(209, 252, 252);
  }

  .far:hover {
    color: rgb(255, 255, 255);
  }

  .gauge-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    position: absolute;
    top: 15vh;
    right: 10vh;
    text-align: center;
    max-width: 70%;
    z-index: -1;
  }
  .chart-container {
    position: absolute;
    top: 15vh;
    padding: 10px;
    margin: 5px;
    width: 95%;
    z-index: -1;
    border-radius: 10px;
    border: 1px solid rgb(19, 48, 19);
  }

  .controls-cell {
    position: absolute;
    top: 15vh;
    padding: 10px;
    margin: 5px;
    width: 95%;
    text-align: center;
    z-index: -1;
  }
}

/* Big screens  */
@media only screen and (min-width: 800px) {
  .live-img {
    max-width: 50vw;
  }

  .logo {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: rotateY(0deg);
    transition: var(--transition-speed);
  }

  .navbar:hover .logo {
    transform: rotateY(180deg);
  }

  .navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #428560;
    transition: width 500ms ease;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .nav-item {
    width: 100%;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #6edda0;
  }

  .link-text {
    display: none;
    margin-left: 1rem;
    color: azure;
  }

  .nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: block;
  }

  .fas {
    color: rgb(209, 252, 252);
  }

  .fas:hover {
    color: rgb(255, 255, 255);
  }

  .far {
    color: rgb(209, 252, 252);
  }

  .far:hover {
    color: rgb(255, 255, 255);
  }

  .dot {
    height: 20px;
    width: 20px;
    background-color: rgb(34, 214, 49);
    border: 1px solid rgb(19, 48, 19);
    border-radius: 50%;
    display: inline-block;
  }

  .alive-check {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  .gauge-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    position: absolute;
    top: 10vh;
    right: 10vh;
    text-align: center;
    max-width: 70%;
    z-index: -1;
  }

  .chart-container {
    position: absolute;
    right: 10px;
    padding: 10px;
    margin: 5px;
    width: 80%;
    z-index: -1;
    border-radius: 10px;
    border: 1px solid rgb(19, 48, 19);
  }

  .controls-cell {
    position: absolute;
    right: 2rem;
    text-align: center;
    width: 75%;
    z-index: -1;
  }
}

.water-control {
  border: 1px solid rgb(19, 48, 19);
  margin: 10px;
  border-radius: 5px;
}

.light-control {
  border: 1px solid rgb(19, 48, 19);
  margin: 10px;
  border-radius: 5px;
}

.lightcycle-control {
  border: 1px solid rgb(19, 48, 19);
  margin: 10px;
  border-radius: 5px;
}

.lightcycle-text {
  padding-bottom: 10px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.lightcycle-text > * {
  margin: 10px;
}

.pic-control {
  border: 1px solid rgb(19, 48, 19);
  margin: 10px;
  border-radius: 5px;
}

.gauge {
  text-align: center;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  border: 1px solid rgb(19, 48, 19);
  margin: 5px;
}

.chart {
  width: 100%;
}

/*----- Simple slider-----*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

/*----- Multi slider-----*/

.multi-range-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.slider-timeon {
  flex-grow: 1;
  position: relative;
  height: 15px;
  width: fit-content;
}

.slider-timeoff {
  flex-grow: 1;
  position: relative;
  height: 15px;
  width: fit-content;
}

.slider-timeon {
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  overflow: hidden;
  transform: rotateY(180deg);
  direction: rtl;
}

.slider-timeoff {
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  overflow: hidden;
}

.slider-timeon::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-timeoff::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-timeon::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fa7901;
  border: 2px #ff0000;
  cursor: pointer;
  box-shadow: -300px 0 0 300px #fffb01;
}

.slider-timeoff::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fa7901;
  border: 2px #ff0000;
  cursor: pointer;
  box-shadow: -300px 0 0 300px #fffb01;
}

/*----- On off button -----*/

.on_off_switch {
  padding-bottom: 10px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.on_off_switch > * {
  margin: 10px;
}

.on {
  background: #4caf50;
}
.off {
  background: rgb(250, 41, 41);
}

.delete_button {
  background: rgb(250, 41, 41);
}
