{% extends "layout.html" %}
{% block content %}

    <div class="chart-container" style="position: relative; height:60vh; width:80vw">
        <div>
            <canvas id="humidity_chart"></canvas>
        </div>
        <div>
            <canvas id="light_chart"></canvas>
        </div>
        <div>
            <canvas id="temperature_chart"></canvas>
        </div>
        <div>
            <canvas id="ph_chart"></canvas>
        </div>
        <div>
            <canvas id="conductivity_chart" ></canvas>
        </div>
    </div>

{% endblock content %}
