{% extends "layout.html" %}
{% block content %}
    <div>
        <h2>Bomba d'água</h2>
        <input type="range" min="1" max="60" value="20" class="slider" id="time_on">
        <p>Tempo ligado: <span id="time_on_output"></span> segundos</p>
        <input type="range" min="1" max="60" value="20" class="slider" id="time_off">
        <p>Tempo desligado: <span id="time_off_output"></span> segundos</p>
    </div>

    <div>
        <h2>Limites de luminosidade</h2>
        <input type="range" min="60" max="200" value="20" class="slider" id="lux_max">
        <p>Luminosidade máxima: <span id="lux_max_output"></span> lux</p>
        <input type="range" min="10" max="55" value="20" class="slider" id="lux_min">
        <p>Luminosidade mínima: <span id="lux_min_output"></span> lux</p>
    </div>

    <div>
        <input type="button" id="automatic_light" value="off" class="off" onclick="toggleState(this)">
        <h2>Intensidade do led</h2>
        <input type="range" min="0" max="150" value="0" class="slider" id="light_intensity">
        <p><span id="light_intensity_output"></span> %</p>
    </div>

    <div><a href="/download">Baixar dados em csv</a></div>
    <div><input type="button" value = "Deletar" onclick="confirmDelete()"></div>

    <div style="position: relative; height:30vh; width:60vw">
        <div>
            <canvas id="humidity_chart"></canvas>
        </div>
        <div>
            <canvas id="light_chart"></canvas>
        </div>
        <div>
            <canvas id="temperature_chart"></canvas>
        </div>
        <div >
            <canvas id="ph_chart"></canvas>
        </div>
        <div>
            <canvas id="conductivity_chart" ></canvas>
        </div>
    </div>
    <button ></button>


{% endblock content %}
