<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='profile_pics/beleaf.jpg') }}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
  <nav class='navbar'>
    <ul class='navbar-nav'>
      <a href="{{ url_for('home') }}">
        <img class="logo" src="{{ url_for('static', filename='profile_pics/beleaf.jpg') }}">
      </a>
      <li class='nav-item'>
        <a href="{{ url_for('graph_h') }}" class='nav-link'>
          <i class="fas fa-wind"></i>
          <span class= 'link-text'>Humidity</span>
          <!-- <img height="24" viewBox="0 0 24 24" width="24" class="humidity-icon" src="{{ url_for('static', filename='icons/humidity.svg') }}"> -->
        </a>
      </li>
      <li class='nav-item'>
        <a href="{{ url_for('graph_t') }}" class='nav-link'>
          <i class="fas fa-temperature-low"></i>
          <span class= 'link-text'>Temperature</span>
          <!-- <img height="24" viewBox="0 0 24 24" width="24" class="humidity-icon" src="{{ url_for('static', filename='icons/humidity.svg') }}"> -->
        </a>
      </li>
      <li class='nav-item'>
        <a href="{{ url_for('graph_p') }}" class='nav-link'>
          <i class="fas fa-water"></i>
          <span class= 'link-text'>Ph</span>
          <!-- <img height="24" viewBox="0 0 24 24" width="24" class="humidity-icon" src="{{ url_for('static', filename='icons/humidity.svg') }}"> -->
        </a>
      </li>
      <li class='nav-item'>
        <a href="{{ url_for('graph_c') }}" class='nav-link'>
          <i class="fas fa-flask"></i>
          <span class= 'link-text'>Conductivity</span>
          <!-- <img height="24" viewBox="0 0 24 24" width="24" class="humidity-icon" src="{{ url_for('static', filename='icons/humidity.svg') }}"> -->
        </a>
      </li>
      <li class='nav-item'>
        <a href="{{ url_for('graph_l') }}" class='nav-link'>
          <i class="far fa-sun"></i>
          <span class= 'link-text'>Luz</span>
          <!-- <img height="24" viewBox="0 0 24 24" width="24" class="humidity-icon" src="{{ url_for('static', filename='icons/humidity.svg') }}"> -->
        </a>
      </li>
      <li class='nav-item'>
        <a href="{{ url_for('controls') }}" class='nav-link'>
          <i class="fas fa-cog"></i>
          <span class= 'link-text'>Controles</span>
          <!-- <img height="24" viewBox="0 0 24 24" width="24" class="humidity-icon" src="{{ url_for('static', filename='icons/humidity.svg') }}"> -->
        </a>
      </li>
    </ul>
  </nav>
  {% block content %}{% endblock %}
  <main>
</main>
</body>

</body>
</html>
